.dashboard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 10px
}

/* .signupBg {
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../../assets/img/bg-image.jpg"); 
  background-color: #aa9898; 
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
} */

.existFile{
  font-size: smaller;
  color: whitesmoke;
  background-color: rgb(43, 37, 37);
  border-radius: 5px;
  padding: 5px;
}

.getColorBtn{
  background-color: rgb(56, 56, 105);
  color: white
}

.logoCss{
  width: 180px;
  height: 80px;
  margin-left: 23%;
  cursor: pointer;
}

/* .no-print {
  display: none;
} */

.getFontSize{
    font-size: 12px;
}

.loginBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 15px
}

.sticky-header{
  position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important;
}

.pointerCss{
    cursor: pointer;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.getRow {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.content-own {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card-own {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  .card-content-own {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content-pwn p {
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .card-own {
      padding: 15px;
    }
  }
  
