.dashboard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 10px
}

.no-print {
  display: none;
}

.getFontSize{
    font-size: 12px;
}

.loginBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 15px
}

.sticky-header{
  position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important;
}

.pointerCss{
    cursor: pointer;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.getRow {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.content-own {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card-own {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  .card-content-own {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content-pwn p {
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .card-own {
      padding: 15px;
    }
  }
  
