@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --pmcolor: #f1f0f9;
  --sdcolor: #fefefe;
  --ttcolor: #2e2e2e;
}

html,
body {
  height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--ttcolor);
  background-color: var(--pmcolor);
}

main {
  width: 90%;
  height: 96px;
  margin: 0 auto;
  display: grid;
  place-content: center start;
}

a {
  color: inherit;
  text-decoration: none;
}

details {
  position: relative;
}

details > summary {
  max-width: max-content;
  padding: 0.75rem 1rem;
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--sdcolor);
  background-color: var(--ttcolor);
  border-radius: 0.25rem;
  -webkit-user-select: none;
  user-select: none;
}

details:not([open]) > *:not(summary) {
  display: none !important;
}

.menu {
  position: absolute;
  top: initial;
  left: 0;
  width: max-content;
  margin-block: 0.5rem;
  padding-block: 0.5rem;
  background-color: var(--sdcolor);
  border-radius: 0.25rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-list--item {
  list-style: none;
}

.menu-list--item:hover {
  color: var(--sdcolor);
  background-color: var(--ttcolor);
}

.menu-list--action {
  padding: 0.75rem 1rem;
  display: block;
}
