.vendor-login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .vendor-login .overlap-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 875px;
  }
  
  .vendor-login .overlap {
    position: relative;
    height: 875px;
    background-image: url(../img/new/untitled-design-6-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .vendor-login .overlap-group {
    position: absolute;
    width: 497px;
    height: 653px;
    top: 87px;
    left: 465px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 4px #00437585;
  }
  
  .vendor-login .text-wrapper {
    position: absolute;
    width: 23px;
    top: 472px;
    left: 234px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .div {
    position: absolute;
    width: 184px;
    top: 104px;
    left: 187px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #004375;
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: normal;
  }
  
  .vendor-login .text-wrapper-2 {
    position: absolute;
    width: 154px;
    top: 199px;
    left: 45px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .text-wrapper-3 {
    position: absolute;
    width: 154px;
    top: 285px;
    left: 45px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .text-wrapper-4 {
    position: absolute;
    width: 186px;
    top: 368px;
    left: 46px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #1d7fb3;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: normal;
  }
  
  .vendor-login .overlap-2 {
    position: absolute;
    width: 400px;
    height: 36px;
    top: 319px;
    left: 45px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #004375;
  }
  
  .vendor-login .text-wrapper-5 {
    position: absolute;
    width: 64px;
    top: 7px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #726969;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: normal;
  }
  
  .vendor-login .vector {
    position: absolute;
    width: 16px;
    height: 20px;
    top: 6px;
    left: 9px;
  }
  
  .vendor-login .overlap-3 {
    position: absolute;
    width: 399px;
    height: 43px;
    top: 511px;
    left: 46px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #004375;
    box-shadow: 0px 4px 4px #00437530;
  }
  
  .vendor-login .google-logo {
    position: absolute;
    width: 25px;
    height: 29px;
    top: 6px;
    left: 101px;
    object-fit: cover;
  }
  
  .vendor-login .text-wrapper-6 {
    position: absolute;
    width: 171px;
    top: 11px;
    left: 134px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: normal;
  }
  
  .vendor-login .p {
    position: absolute;
    width: 170px;
    top: 150px;
    left: 164px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .don-t-have-an {
    position: absolute;
    width: 256px;
    top: 593px;
    left: 116px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .span {
    color: #000000;
    letter-spacing: -0.05px;
  }
  
  .vendor-login .text-wrapper-7 {
    color: #004375;
    letter-spacing: -0.05px;
  }
  
  .vendor-login .group {
    position: absolute;
    width: 402px;
    height: 36px;
    top: 233px;
    left: 45px;
  }
  
  .vendor-login .overlap-group-2 {
    position: relative;
    width: 400px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #004375;
  }
  
  .vendor-login .img {
    position: absolute;
    width: 18px;
    height: 14px;
    top: 10px;
    left: 9px;
  }
  
  .vendor-login .text-wrapper-8 {
    position: absolute;
    width: 160px;
    top: 7px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #726969;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: normal;
  }
  
  .vendor-login .cts-logo-removebg {
    position: absolute;
    width: 70px;
    height: 72px;
    top: 17px;
    left: 20px;
    object-fit: cover;
  }
  
  .vendor-login .sign-in-button {
    position: absolute;
    width: 399px;
    height: 48px;
    top: 406px;
    left: 44px;
    background-color: #1092d7;
    border-radius: 8px;
  }
  
  .vendor-login .text-wrapper-9 {
    position: absolute;
    width: 167px;
    top: 13px;
    left: 171px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: normal;
  }
  
  .vendor-login .overlap-group-wrapper {
    position: absolute;
    width: 81px;
    height: 29px;
    top: 140px;
    left: 32px;
  }
  
  .vendor-login .overlap-4 {
    position: relative;
    width: 79px;
    height: 29px;
  }
  
  .vendor-login .back {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: 0;
  }
  
  .vendor-login .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 22px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #004375;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  