/* .table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
  }
  
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-wrapper thead th {
    position: sticky;
    top: 0;
    background-color: #f0f0f0; 
    z-index: 1;
  }
  
  .table-wrapper thead th:first-child {
    left: 0;
    z-index: 2;
  }
  .sticky {
    position: fixed;
    top: 0;
    background-color: #f0f0f0; 
    z-index: 1;
  }
  
  .table-wrapper tbody {
    overflow-y: auto;
    max-height: 300px;
  } */